@import "tailwindcss";
@import "lenis/dist/lenis.css";

@theme {
  --font-big-shoulders: "Big Shoulders Inline", sans-serif;
  --font-amarante: "Amarante", serif;
  --font-caveat: "Caveat", cursive;
  --font-jetbrains-mono: "JetBrains Mono", monospace;
}
@theme inline {
  --animate-cell-ripple: cell-ripple var(--duration, 200ms) ease-out none 1
  var(--delay, 0ms);

  @keyframes cell-ripple {
    0% {
      opacity: 0.4;
    }
    50% {
      opacity: 0.8;
    }
    100% {
      opacity: 0.4;
    }
  }
}
